{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<header>
    <h1>About Us</h1>
</header>
<main>
    <section>
        <h2>Title1 </h2>
        <p>Our mission is to provide the best services to our customers and ensure their satisfaction.</p>
    </section>
    <section>
        <h2>Title 2</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quidem nihil perspiciatis non possimus
            provident, deleniti, ipsam quod laborum, eos tempora numquam!</p>
    </section>
    <section>
        <h2>Contact Us</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, eius cumque mollitia unde quas iste
            repellendus quibusdam sequi! Ab at minima minus.</a>.</p>
    </section>
</main>
{% endblock %}