{% extends 'base.html' %}

{% block title %}Edit Ticket{% endblock %}

{% block content %}
<h2>Edit Ticket</h2>
<form method="POST">
    <label for="category">Select Category:</label>
    <select name="category" required>
        <option value="Email Support" {% if ticket.category=='Email Support' %}selected{% endif %}>Email Support
        </option>
        <option value="Website Support" {% if ticket.category=='Website Support' %}selected{% endif %}>Website Support
        </option>
        <option value="Access Support" {% if ticket.category=='Access Support' %}selected{% endif %}>Access Support
        </option>
        <option value="QuickBooks Support" {% if ticket.category=='QuickBooks Support' %}selected{% endif %}>QuickBooks
            Support</option>
        <option value="Social Media Post" {% if ticket.category=='Social Media Post' %}selected{% endif %}>Social Media
            Post</option>
        <option value="Other" {% if ticket.category=='Other' %}selected{% endif %}>Other</option>
    </select>

    <label for="description">Describe Your Issue:</label>
    <textarea name="description" rows="4" required>{{ ticket.description }}</textarea>

    <button type="submit" class="btn btn-primary">Update Ticket</button>
</form>
{% endblock %}